body {
  font-family: Arial, sans-serif;
  color: #d5d5d5;
  background-color: rgb(24, 24, 24);
}

.small-package small {
  color: #158a01;
}

.large-package small {
  color: #a80000;
}

.medium-package small {
  color: #d68700;
}

ul {
  list-style-type: none;
}
