{{ define "content" }}
<h1>🐡 Bloatfish</h1>

{{ if (eq (len .Body.Errors) 0) }} {{if .Body.Framework }}
<p>Framework detected: <strong>{{ .Body.Framework }}</strong></p>
{{ end }}

<div>
  <h2>Declared packages : {{.Body.TotalSizeStr}}</h2>
  <ul>
    {{ range .Body.Declared }} {{ if gt .Size 1000000 }}
    <li class="large-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else if gt .Size 500000 }}
    <li class="medium-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else }}
    <li class="small-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>

    {{ end }} {{ end }}
  </ul>

  <h2>Unused packages</h2>
  <ul>
    {{ range .Body.Unused }} {{ if gt .Size 1000000 }}
    <li class="large-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else if gt .Size 500000 }}
    <li class="medium-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else }}
    <li class="small-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>

    {{ end }} {{ end }}
  </ul>
  <h2>Used packages</h2>
  <ul>
    {{ range .Body.Used }} {{ if gt .Size 1000000 }}
    <li class="large-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else if gt .Size 500000 }}
    <li class="medium-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>
    {{ else }}
    <li class="small-package">
      <strong>{{ .Name }}</strong>
      <small>({{ .SizeStr }})</small>
    </li>

    {{ end }} {{ end }} {{ end }}
  </ul>
</div>

<div>
  {{if .Body.Errors }}
  <h2>Errors</h2>
  <ul>
    {{ range .Body.Errors }}
    <li class="error-item">
      <strong>{{ . }}</strong>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>

{{ end }}
